body {
text-align: center;
background-color: black;
color: greenyellow;
font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: green;

}

a>img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

button{
    background-color: greenyellow;
    color: black;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

