body {
    text-align: center;
    background-color: black;
    color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
    }
    
a{
    text-decoration: none;
    color: green;
    }
    
button{
        background-color: greenyellow;
        color: black;
        border-radius: 20px;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }


img{
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }

p {
    font-size: 20px;
    color: greenyellow;
    text-align: center;
    margin: 20px 0;
}
h1 {
    font-size: 40px;
    color: greenyellow;
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;         
    gap: 10px;             
    justify-content: center;
  }
  
  .container img {
    width: 400px;    
    height: auto;
    object-fit: cover;
  }
  